@{
    ViewBag.Title = "About";
}

<div class="about-content">
    <div class="max-width-c">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <p>Use this area to provide additional information.</p>
    </div>
</div>

<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>
