@{
    ViewBag.Title = "AlbaRent- Cilesi dhe siguri!";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
<header class="Header-content">
    <div class="content">
        <div class="container">
            <p>Na vizitoni per sherbimet tona</p>
            <a class="highlight" href="#">Caktoni nje takim!</a>
        </div>
    </div>
</header>
