@{
    ViewBag.Title = "AlbaRent- Cilesi dhe siguri!";
}

<div class="Header-content">
    <div class="content">
        <div class="container">
            <p>Na vizitoni per sherbimet tona</p>
            <a class="highlight" href="#">Caktoni nje takim!</a>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="max-width-c">
        <h2>Katalogu i makinave</h2>
    </div>
</div>
