@{
    ViewBag.Title = "AlbaRent- Cilesi dhe siguri!";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
<header>
    <nav class="container">
        <div class="logo"><i class="fas fa-car"></i> ALBARENT</div>
        <ul>
            <li><a href="#" class="selected">Faqe kryesore</a></li>
            <li><a href="#">Vecorite</a></li>
            <li><a href="#">Cmime</a></li>
            <li><a href="#">Kontakt</a></li>
            <li>
                <a href="#" class="highlight">Caktoni nje takim!</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <div class="container">
            <p>Na vizitoni per sherbimet tona</p>
            <a class="highlight" href="#">Caktoni nje takim!</a>
        </div>
    </div>
</header>
<style>
    body {
        background-image: url(../../Imazhet/newC.jpg);
        background-size: cover;
        min-height: calc(100vh - 102px);
    }
     footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>