body {
    padding-top: 50px;
    padding-bottom: 1px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 1px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}


/*Contact page style*/
.top {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    width: 60%;
}
form textarea {
    resize: none;
}
.col-md-6 {
    margin-bottom: 15px;
}


.right form .send-msg {
    color: #fff;
    display: block;
    width: 160px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    background: #2196f3;
    border: 2px solid #2196f3;
    transition: all 0.3s ease;
}

    .right form .send-msg:hover {
        color: #2196f3;
        background: none;
    }
/*Responsive*/
@media (max-width: 600px) {
    .contact {
        display: inline;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
    .contact .right form .fields {
        display: block;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    width: 3000px;
}

header {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - 102px);
    width: 100%;
    height: 100%;
}
/* .content eshte per paragrafin dhe caktoni nje takim*/
.content {
    font-size: 3rem;
    margin: auto;
    max-width: 100%;
    color: navajowhite;
}

.content h1 {
     color: #00c2ff;
     margin-bottom: 0;
    }

nav {
    display: flex;
    justify-content: space-between;
}

nav .logo {
     font-size: 2.5rem;
     font-size: 35px;
     color: white;
    }

nav ul {
     display: flex;
     list-style-type: none;
     padding: 0;
    }

nav li a {
     color: black;
     padding: 1rem;
     text-decoration: none;
     font-size:20px;
    }

.selected {
    font-weight: bold;
}

.highlight {
    background-color: #00c2ff;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    }

footer strong {
    color: #00c2ff;
    }

footer p {
    margin: 0;
    }

@media screen and (max-width: 700px) {
 .content {
      font-size: 1.4rem;
      margin: 2rem auto 0;
    }

 nav ul {
      flex-direction: column;
    }

 nav li:not(:last-child) {
      margin-bottom: 1rem;
    }

nav .highlight {
      display: none;
    }

footer ul {
      flex-direction: column;
      justify-content: center;
    }

footer li {
      margin: 1rem;
      text-align: center;
    }
}