body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}


/*Contact page style*/
.top {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    width: 60%;
}
form textarea {
    resize: none;
}
.col-md-6 {
    margin-bottom: 15px;
}


.right form .send-msg {
    color: #fff;
    display: block;
    width: 160px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    background: #2196f3;
    border: 2px solid #2196f3;
    transition: all 0.3s ease;
}

    .right form .send-msg:hover {
        color: #2196f3;
        background: none;
    }
/*Responsive*/
@media (max-width: 600px) {
    .contact {
        display: inline;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
    .contact .right form .fields {
        display: block;
    }
}